.join {
  display: flex;
  gap: 10rem;
  padding: 0 2rem;
}

.left-j {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
}
.left-j .hr {
  border: 2px solid var(--orange);
  border-radius: 20%;
  margin: -10px 0;
  position: absolute;
  width: 10.5rem;
}
.left-j > div {
  display: flex;
  gap: 1rem;
}

.right-j {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.email-container {
  display: flex;
  gap: 3rem;
  background-color: gray;
  padding: 1rem 2rem;
  border-radius: 14px;
  color: white;
}
.email-container .input {
  background-color: transparent;
  padding: 1rem;
  border: none;
  color: #fff;

  cursor: pointer;
  outline: none;
}
.email-container .input ::placeholder {
  color: var(--lightgray) #d9d9d9;
  font-weight: 600;

  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
}
.email-container .input:hover {
  border: none;
  outline: none;
}
.email-container .input:active {
  border: none;
  outline: none;
}
.email-container .input:focus {
  border: none;
  outline: none;
}
/* Responsive */
@media screen and (max-width: 768px) {
  .join {
    flex-direction: column;
    gap: 1rem;
  }

  .left-j {
    font-size: x-large;
    flex-direction: column;
  }
  .right-j {
    padding: 2rem;
  }
  .email-container {
    display: flex;
    gap: 0.1rem;
    background-color: gray;
    padding: 1rem 2rem;
    border-radius: 14px;
    color: white;
    width: 167%;
    margin: 0 auto;
    justify-content: center;
  }
  .left-j .hr {
    border: 2px solid var(--orange);
    border-radius: 20%;
    margin: -31px 0;
    position: absolute;
    width: 10.5rem;
  }
}
