.programs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
}
.programs-header {
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: italic;
  font-weight: 700;
  gap: 5rem;
  justify-content: center;
  text-transform: uppercase;
}

.stroke-text {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

.program-categories {
  display: flex;
  gap: 1rem;
}

.category {
  display: flex;
  flex-direction: column;
  background-color: grey;
  padding: 2rem;
  gap: 1rem;
  color: white;
  justify-content: space-between;
  flex: 1;
}

.category > :nth-child(1) {
  width: 2rem;
  height: 2rem;
  fill: white;
}
.category > :nth-child(2) {
  font-size: 1rem;
  font-weight: 700;
}
.category > :nth-child(3) {
  font-size: 0.9rem;
  line-height: 25px;
}
.join-now > img {
  width: 1rem;
}
.join-now {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: bold;
}
.category:hover {
  background: var(--planCard);
  cursor: pointer;
}

/* Responsive media  */
@media screen and (max-width: 768px) {
  .programs-header {
    flex-direction: column;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    gap: 5px;
  }
  .program-categories {
    flex-direction: column;
  }
}
